body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #3498db;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
    border-color: #007bff;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2);
}

input[type="button"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#outputTable {
    animation: fadeIn 1s;
}